body {
  margin-top: 3rem;
}
.App {
  text-align: center;
  /* margin-top: 3rem; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#black-button {
  background-color: transparent;
  color: black;
  border-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
